body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a{
    text-decoration: none;
}
a:hover,:after{
    text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   max-width: 300px;
   margin: auto;
   text-align: center;
   font-family: arial;
 }
.card img{
  width:100%
}
.Team {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.Team img{
  width:100%
}
.nice-dates-navigation, .nice-dates-day {
    color: #111;
}
.nice-dates-popover {
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    max-width: 480px;
    transition: none;
}

.calendary-container{
    max-width: 450px;
}
.Card_Container {
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    height: 140px;
}
.Task_Container {
    margin: 10px;
    border: 5px solid green;

    height: 540px;
}
.Card_Container :hover {
    cursor: pointer;

}
.AdminPage_Grid_Container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 380px);
    grid-gap: 40px;
}
.Card_Header{
    width: 100%;
    background: #61dafb;
    height: 40px;

}
.Card_Header h4{
    text-align: center;

}
.Card_Content{
 margin: 10px;
}
.Grid_Admin{
    display: grid;
    grid-template-columns: 1fr 10fr;
}
.NavBar{
    height: 100%;
    background: gray;
    text-decoration: none;
}
.NavBar img{
    margin: 20px;
    width: 32px;
    height: 32px;
}
.container_cat{
    height: 680px;

}
.footer_container{
    margin: 0 auto;
    width: 100%;
    background: url('./img/bg-footer.png') center;
    background-repeat: no-repeat;
    height: 225px;
}

.Check-Button{
    float: right;
    display: block;
    margin-top: 8%;
}
.header{
    text-align: center;
    padding-bottom: 50px;
}
.Check_Container{
    padding: 40px;

}
.Doneck{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    color: white;

}
.Doneck label{
    font-size: 1.6rem;
    font-weight: bold;
}
.min-button{
    width: 32px;
    height: 32px;
}

.Main-Container{
    width: 100%;
    height: 975px;
    background: center url("./img/bg.svg") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.Container{
    margin: 0 auto;
    width: 1200px;
}
.Header-Content{
    padding: 15px;
}
.Header-Content h2{
    font-size: 45px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 0.4px 10px  #ff567b;

}

.Content-Wrapper{
    margin-left:  10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px) ;
    grid-gap: 30px;
}
.Category-card{
    height: 520px;
    width: 100%;
    border: #ffffff 4px solid;
    background: rgba(255,181,162,0.45);
}
.Category-card h3 {

}
.Category-card img {
    width: 100%;
    height : 100%;
    opacity: 0.8;
    position: relative;
    top: 0;
}
.Category-card h3{
    position: relative;

}
.Form_Header{
    margin-bottom: 40px ;
}
.Doneck input{
    padding-bottom: 10px;
}
.Form_Header h4{
    text-align: center;

    font-size: 2.5rem;
    color: white;
}
.Form_Date_Picker{
    width: 100%;
    padding-top:10px;
}

.Link a {
    text-decoration: none;
    padding: 0 9px;
}
.Link {
    margin-top: 10px;
    background: url("./img/line2.png") no-repeat left ;

}
.Category-Name{
    writing-mode: vertical-lr;
    left: 230px;
    top: -375px;
    z-index: 5;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    text-orientation: mixed;

    transition: 1s;

}

.Category-Name:hover{



}
.container_cat{
    margin: 0;
    display: grid;
    height: 975px;
    grid-template-columns: 2fr 10fr ;
    padding-top: 50px;
    grid-gap: 0 30px;
    background: url("./img/catbg.png") no-repeat center;
    background-size: cover;


}
.card-container{
    width: 410px;
    opacity: 1;
    background: rgba(255,181,162,0.45);
    padding: 15px;
}


.Rider-Cart{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    padding-bottom: 5px;


}
.rider-container{

}
.Rider-Cart h4{
    padding-top: 8%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 64px;
    padding-left: 10px;
    background: rgba(0,0,0,0.7);
}
.card-container{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.button-rider{
    color: white;

    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 64px;
    background: rgba(0,0,0,0.2);
}
.Rider-Img {

    height: 64px;
}


.card-container-img{
    width: 335px;
    height: 100px;
}
.header h1{
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 41%;
    padding-top: 150px;
    font-size: 7.2vh;
    background: url("./img/line.png") no-repeat center;
    background-size: contain;

}
.header {

    height: 150px;
    margin: 0;

}
.column{
    box-shadow: none;
}


.Taburetka{
    display: block;
    width: 130px;
    opacity: 0.5;
    margin: 0 auto;
    padding-top: 200px;

}
.Taburetka a {
    color: white;
    margin: 0 auto;


}
.Taburetka a:hover{
    text-decoration: none;
    color:black;
}
.Grid-Container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 410px));
    grid-gap: 40px;

}
.Rider-Cart h4{
    font-size: 2vh;
}

